In [1]:
#coding:gbk
L = [
 ['Apple', 'Google', 'Microsoft'],
 ['Java', 'Python', 'Ruby', 'PHP'],
 ['Adam', 'Bart', 'Lisa',[1,2,3,[4,5]]]
]

def li(k):
	for i in k:
		if not isinstance(i,list):
			print(i)
		else:
			li(i)
			
            
li(L)

Apple
Google
Microsoft
Java
Python
Ruby
PHP
Adam
Bart
Lisa
1
2
3
4
5

In [2]:
import pandas as pd

In [4]:
def n(a,b,**c):
    print(a,b,c)

In [5]:
n(1,2)

1 2 {}

In [8]:
n(1,2,i=3)

1 2 {'i': 3}

In [9]:
n(1,2,i=12,j=23)

1 2 {'i': 12, 'j': 23}

In [19]:
def n(a,b,*args):
    print(a,b,args)
n(1,2,3,4)
n(1,2,(1,2,3))

1 2 (3, 4)
1 2 ((1, 2, 3),)